<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.platformer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/platformer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/platformer_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Platformer">
        <activity
            android:name=".ViewLeaderboard"
            android:exported="false" />
        <activity
            android:name=".InsertLeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ViewLevelplayed"
            android:exported="false" />
        <activity
            android:name=".InsertLevelplayedActivity"
            android:exported="false" />
        <activity
            android:name=".InsertLevelsActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUsers"
            android:exported="false" />
        <activity
            android:name=".ViewLevels"
            android:exported="false" />
        <activity
            android:name=".crudActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>